<!DOCTYPE html>
<html lang="en" ng-app="jenkins" ng-controller="AppCtrl">
    <head>
        <meta charset="utf-8">
        <title>Jenkins</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/all.css">
        <link rel="stylesheet" href="/css/home.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <div class="app-content">
            <div class="nav-main">
                <ul>
                    <li><a ui-sref="products">Products</a></li>
                    <li><a ui-sref="store">Store</a></li>
                    <li ng-if="!user._id"><a ui-sref="signin">Signin</a></li>
                    <li ng-if="user._id"><a ui-sref="account">{{user.name}}</a></li>
                </ul>
            </div>
            <nav ng-if="user._id" class="utility-nav">
                <ul>
                    <li ng-class="{ active: $state.includes('home') }" ui-sref="home" class="nav-home"><i class="fa fa-tachometer fa-lg"></i></li>
                    <li ng-class="{ active: $state.includes('account') }" ui-sref="account" class="nav-configuration"><i class="fa fa-gears fa-lg"></i>
                    </li>
                </ul>
            </nav>
            <div class="views" ui-view></div>
        </div>




        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script src="/js/jquery.parallax.min.js"></script>
        <script src="/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/js/page-transitions.js"></script>
        <script src="/js/startup-kit.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="/js/templates.js"></script>
        <script src="/js/deps.js"></script>
        <script src="/js/bundle.js"></script>
    </body>
</html>