@import './../lib/bootstrap/less/variables.less';
@import 'flat-ui/less/flat-ui.less';
@import './../lib/chosen-bootstrap/bootstrap-chosen.less';
@import './../lib/angular-toggle-switch/angular-toggle-switch-bootstrap.css';
@import './../lib/angular-toggle-switch/angular-toggle-switch.css';

@font-family-demo: myriad-pro-condensed, sans-serif;
@startup-basePath: '../';
@color-admin: #34495e;

a {
  background: none;
}

a[ng-click] {
  cursor: pointer;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.glyphicon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left {
  &:before {
    content: "\f053";
  }
}

.glyphicon-chevron-right {
  &:before {
    content: "\f054";
  }
}

.glyphicon-remove {
  &:before {
    content: "\f00d";
  }
}

.glyphicon-ok {
  &:before {
    content: "\f00c";
  }
}





//Hook in all views here
@import '../account/account.less';

