<section class="view-section">
  <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)">{{alert.message}}</alert>

  <select
    chosen
    class="select-chosen-small"
    disable-search="true"
    ng-model="currentZone"
    ng-options="item.name for item in system.zones">
  </select>

    <div class="panel panel-default">
      <div class="panel-heading">{{currentZone.name}}</div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item home-component" ng-repeat="component in currentZone.components">
            <div class="row">
              <div class="col-md-4">
                <label>{{component.name}}</label>
              </div>
              <div class="col-md-8">
                <toggle-switch ng-change="toggleComponent(component)"model="component.status.state" ng-model="component.status.state"><toggle-switch>
              </div>
            </div>

          </li>
        </ul>
    </div>
    </div>

</section>