<div ng-if="user.roles.indexOf('masteradmin') > -1" class="media-block">
  <div>
    <input type="text" ng-model="company.administratrion.primary" placeholder="User"></input>
    <br/>
    <input type="text" ng-model="company.administration.access" placeholder="Category Access"></input>
    <br/>
    <input type="text" ng-model="company.name" placeholder="Company Name"></input>
    <br/>
    <input type="text" ng-model="company.location.city" placeholder="City"></input>
    <br/>
    <input type="text" ng-model="company.location.state" placeholder="State Name"></input>
    <br/>
    <input type="text" ng-model="company.location.street" placeholder="129 Fake St. Apt. 9045"></input>
    <br/>
    <input type="text" ng-model="company.location.zip" placeholder="ZipCode"></input>
    <br/>
    <button class="btn btn-primary" ng-click="postCompany()">Create</button>
  </div>
</div>