<section class="content-21 bg-midnight-blue">
    <div class="container">
        <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)">{{alert.message}}</alert>
        <div class="row">
            <div class="col-sm-12">
                <div class="features features-tabs">
                    <div class="features-header">
                        <div ui-sref="admin.company" ui-sref-active="active" class="box">
                            <div class="fui-cmd"></div>
                            COMPANY
                        </div>
                        <div ui-sref="admin.question" ui-sref-active="active" class="box">
                            <div class="fui-check"></div>
                            QUESTIONS
                        </div>
                        <div ui-sref="admin.store" ui-sref-active="active" class="box">
                            <div class="fui-calendar-solid"></div>
                            STORE
                        </div>
                        <div ui-sref="admin.training" ui-sref-active="active" class="box">
                            <div class="fui-user"></div>
                            TRAINING COURSES
                        </div>
                        <div ui-sref="admin.category" ui-sref-active="active" class="box">
                            <div ng-if="user.roles.indexOf('masteradmin') > -1" class="fui-list"></div>
                            CATEGORIES
                        </div>
                        <div ui-sref="admin.util" ui-sref-active="active" class="box">
                            <div ng-if="user.roles.indexOf('masteradmin') > -1" class="fui-list"></div>
                            UTILITY
                        </div>
                    </div>
                    <div class="features-bodies">
                        <div class="features-body active" ui-view>
                          <h6>Select a section from above to continue</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="admin">

  <alert ng-repeat="alert in alerts" type="alert.type" close="alerts.splice($index, 1)">{{alert.message}}</alert>

  <div class="navigation">
    <ul>
      <li><a ui-sref="admin.company"><i class="fa fa-sitemap"></i>Company</a></li>
      <li><a ui-sref="admin.question"><i class="fa fa-comments"></i>Questions</a></li>
      <li><a ui-sref="admin.store"><i class="fa fa-shopping-cart"></i>Store</a></li>
      <li><a ui-sref="admin.training"><i class="fa fa-shopping-cart"></i>Training</a></li>
      <li ng-if="user.roles.indexOf('masteradmin') > -1"><a ui-sref="admin.category"><i class="fa fa-th-list"></i>Categories</a></li>
    </ul>
  </div>

  <div class="content" ui-view></div>
</section> -->